.home-img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}
.nav-left {
  margin-left: 30px;
}
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  align-items: center;
  background-color: #131921;
  color: aliceblue;
}
.header-nav {
  padding: 1rem;
  display: flex;
}
.header-nav span {
  margin-left: 3px;
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.search-elements {
  display: flex;
  flex: auto;
  align-items: center;
  border-radius: 24px;
}
.search-elements select {
  height: 30px;
  border-radius: 2px;
}
.search-box {
  height: 30px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 2px;
}

.search-icon {
  padding: 5px;
  height: 30px !important;
  background-color: #cd9042;
  border-radius: 2px;
  cursor: pointer;
}
.language {
  display: flex;
  margin: 0;
  font-style: none;
  color: white;
  z-index: 999;
}
.expand-icon {
  margin-top: 15px;
}
#dropdown-basic-button {
  background-color: #131921;
  border: none;
  z-index: 1000;
}
#dropdown-basic-button:hover {
  border: 1px solid white;
}
.returns-orders {
  padding: 0.34rem;
}
.kart {
  padding: 0.4rem;
  margin-right: 1rem;
  z-index: 5;
}
.returns-orders:hover {
  border: 1px solid white;
}
.kart:hover {
  border: 1px solid white;
}
.header-nav:hover {
  border: 1px solid white;
}
